
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.shadow{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
}


.name_header{
  background-color: white;
  margin: 0;
  padding: 20px;
  background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    z-index: 100;
    top: 0;
  position: fixed;
  margin-bottom: 20px;
  width: 100%;
}
.home_info{
  padding-top: 100px;
  margin-left: 20px;
}

.barchart{
  width: 550px;
  height: 300px;
  padding: 20px;
  padding-right: 0;
  background-color: rgb(231, 229, 229);
  border-radius: 10px;

}
.piechart{
  width: 450px;
  height: 400px;
  background-color: rgb(231, 229, 229);
  border-radius: 10px;
}
.linechart{
  width: 500px;
  height: 300px;
  padding: 10px;
  background-color: rgb(231, 229, 229);
   border-radius: 10px;
   margin-top: -40px;
}
.bar_pie_container{
  display: flex;
  margin-top: 25px;
  gap: 30px;
}
a{
  text-decoration: none;
  color: black;
}
.body_admin{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(218, 215, 215);
  display: flex;
  height: 100vh;
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(218, 215, 215);
  
}
.body{
  margin-left: 224px;
  width: 100%;
}


.from_product >form{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 40%;
  gap: 20px;
}
.from_product{
  display: flex;
  justify-content: center;
  align-items:center ;
  gap: 50px;
}
.from_product label{
  width: 260px;
  font-size: 18px;

}
.form div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.from_product input{
  padding: 10px 15px;
  border: none;
  font: 17px;
  border-radius: 7px;
  width: 400px;
}
.from_product input:focus{
  outline: none;
  border: none;
}
.from_product button{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:20px ;
  border-radius: 10px;
  border: none;
  padding: 10px 0;
  margin-top: 20px;
  background-color: rgb(190, 186, 186);
}
.from_product button:hover{
  background-color:  rgb(156, 151, 151);
}
.imggshgshsg{
  margin-top: 200px;
  margin-left: 100px;
}
.users{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-titles{
  display: flex;
}
.search-users{
  display: flex;

}
.userheader-container{
display: flex;  
}
.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.table  p{
  width: 130px;
  overflow: hidden;
}
.table .small{
  width: 90px;
}
.userheader-container input{
  padding: 6px 15px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(180, 176, 176);
}
.userheader-container input:focus{
  outline: none;
  border: none;
}
.search-users{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.users_table{

  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.users_table .header-titles{
  display: flex;
}
.users_table .search-users{
  display: flex;

}
.users_table .userheader-container{
display: flex;  
}
.users_table .table{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users_table .table >p{
  width: 200px;
  overflow: hidden;
}


/* total */
.totals{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  padding-left: 0;
  width: 98%;
}
.total_elem{
  width: 220px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  height: 70px;
  border-radius: 8px;
  background-color: rgb(196, 190, 190);
  align-items: center;
}
.total_elem img{
  width: 40px;

}
.total_elem h3{
  margin:0 ;
  margin-top: 10px;
}
.total_elem h4{
  margin-top: 4px;
}
.home{
  margin-left: -20px
}





/* user btn */

.btn_users_info .delete{
  font-size: 13px;
  background-color: rgb(235, 1, 1);
  border-radius: 8px;
  padding: 5px 15px;
  color: white;
}

.add_users_btn{
  padding: 8px 15px;
  margin-left: 50px;
  border-radius: 8px;
  background-color: rgb(170, 168, 165);
}
.add_users_btn:hover{
  background-color:rgb(204, 202, 200) ;
}