.recent_order {
  display: grid;
  grid-template-columns: 100px 200px 240px 200px 140px 100px;
  align-items: center;
  padding-left: 10px;
}
.black {
  background-color: rgb(206, 197, 197);
}
.recent_order div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Pending {
  background-color: rgba(241, 199, 12, 0.521);
  color: rgb(105, 86, 1);
  width: fit-content;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;

  border-radius: 8px;
}
.Delivered {
  background-color: rgba(9, 185, 9, 0.404);
  color: rgb(5, 110, 5);
  width: fit-content;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 8px;
  font-size: 14px;
}

.recent_order img {
  width: 30px;
  border-radius: 50%;
}
.name {
  display: flex;
  gap: 6px;
  align-items: center;
}
.green {
  color: rgb(7, 114, 7);
}
