.users_information_contatiner_light{
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: rgb(223, 220, 220);
    padding: 5px;
}
.users_information_contatiner_dark{
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: rgb(194, 186, 186);
    padding: 5px;
}
.users_information_contatiner_light:hover{
    background-color: rgb(255, 255, 255);
}
.users_information_contatiner_ligh{
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: rgb(223, 220, 220);
    padding: 5px;
}

.users_information_contatiner_dark:hover{
    background-color: rgb(255, 255, 255);
}

.btn_users_info{
    display: flex;
    gap: 10px;
}
.delivery_deliverd{
    color: rgb(9, 185, 9);
    font-weight: 900;
}
.delivery_pending{
    color: rgb(252, 3, 3);
}